<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Application de recouvrement</div>
<div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" href="/add-user" >
          Ajouter des Clients
        </a>
      
        <a class="list-group-item list-group-item-action bg-light" href="/client" >
          Gérer les clients
        </a>
     
        <a class="list-group-item list-group-item-action bg-light"href="#" >
          Lister les clients
        </a>
      
        <a class="list-group-item list-group-item-action bg-light" href="#" >
          Envoyer les emails
        </a>
      
        <a class="list-group-item list-group-item-action bg-light" href="#" >
         Ajouter un compte
        </a>
     
        <a class="list-group-item list-group-item-action bg-light" href="#" >
          Licence des comptes
        </a>

        <a class="list-group-item list-group-item-action bg-light" href="#" >
          Les factures
        </a>

        <a class="list-group-item list-group-item-action bg-light" href="#" >
          Signer une facture
        </a>

        <a class="list-group-item list-group-item-action bg-light" href="#" >
          Gérer les articles
        </a>

        <a class="list-group-item list-group-item-action bg-light" href="#" >
         Lister les articles
        </a>

        <a class="list-group-item list-group-item-action bg-light" href="#" >
          Passer une commande
        </a>

        <a class="list-group-item list-group-item-action bg-light" href="#" >
           Encaisser une facture
        </a>

  </div>
</div>
</div>